.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
   
  .card {
    margin-bottom: 15px;
    background-color: antiquewhite;
  }
   
  .card-body {
    padding: 15px;
  }
   
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
   
  .btn-danger {
    background-color: #f44336;
    color: #fff;
  }
   
  .btn-primary {
    background-color: #2196f3;
    color: #fff;
  }
   
  .btn-success {
    background-color: #4caf50;
    color: #fff;
  }
   
  .btn-warning {
    background-color: #ff9800;
    color: #fff;
  }
   
  .btn-info {
    background-color: #00bcd4;
    color: #fff;
  }
  
  