<div class="container">
    <h2 class="mt-5 mb-4">Utility Bill Payment</h2>
    <div class="card">
    <div class="card-body">
      
    <button (click)="makePayment(15)" class="btn btn-danger btn-block">Fastag Payment: $15</button>
    
    </div>
    </div>
    <div class="card">
    <div class="card-body">
    <button (click)="makePayment(25)" class="btn btn-primary btn-block">Electricity Bill: $25</button>
    </div>
    </div>
    <div class="card">
    <div class="card-body">
    <button (click)="makePayment(35)" class="btn btn-success btn-block">Mobile Recharge: $35</button>
    </div>
    </div>
    <div class="card">
    <div class="card-body">
    <button (click)="makePayment(20)" class="btn btn-warning btn-block">Water Bill: $20</button>
    </div>
    </div>
    <div class="card">
    <div class="card-body">
    <button (click)="makePayment(30)" class="btn btn-info btn-block">Internet Bill: $30</button>
    </div>
    </div>
    </div>